[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "~=0.28.0"
mypy = "!=0.740"

[packages]
cryptography = "~=2.2"
protobuf = "~=3.15.0"
requests = "~=2.22.0"

[requires]
python_version = "3.7"
